<div class="row" style="margin-top: 3rem;">
	<div class="medium-12 columns">
		<div id="mainContent">
			<div class="row">
				<div class="medium-12 columns">
					<textarea id="sourceInput" style="height: 6rem;">Text to be translated here.</textarea>
				</div>
			</div>



<div class="row valign-middle">
    <div class="large-4 columns">
      <button id="translateButton"><i class="fi-comment-quotes"></i>Translate</button>
    </div>
    <div class="large-4 columns">
    
    </div>
    
    <div class="large-4 columns">
      <div class="row collapse right">
        
        <div class="small-8 columns">
          <input id="frequencyInput" type="text" placeholder="0" />
        </div>

        <div class="small-4 columns">
          <span class="postfix" style="margin-bottom: 1rem">Frequency</span>
        </div>
      
      </div>
    </div>
    </div>




			<div id="translationOutput" class="panel" style="min-height: 6rem">Translation result here</div>
			<div id="status" class="panel callout radius"></div>
			<div><span id="statusAPI" class="animates">API Call</span></div>


		</div>
	</div>
</div>